# Core functionality - changes here should be rare!
/src/app.py                   @vtangstastic
/src/backend/database.py      @vtangstastic
/src/backend/routers/auth.py  @vtangstastic

# The frontend will need refactored soon to be more object oriented.
/src/static/   @vtangstastic
